@import "../node_modules/bootstrap/scss/bootstrap";

body::before {
    display: block;
    content: ' ';
    height: 60px;
}

.display-6 {
    font-size: 1rem;
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}



